In [7]:
#https://www.youtube.com/watch?v=u9ZqynGOXl8

In [112]:
 def T1():
    print("hello" * 3)

In [113]:
T1()

hellohellohello

In [11]:
def T2():
    x, y = 4, 5
    y, x = x, y
    print(x)
    print(y)

In [13]:
T2()

5
4

In [33]:
def T3():
    z = 5
    lst = [1] * z  # repeat this List z times
    print(lst[:-1])
    print(lst[:])

In [34]:
T3()

[1, 1, 1, 1]
[1, 1, 1, 1, 1]

In [35]:
def T4():
    z = 4
    lst = [0,1] * z
    print(lst[:-1])
    print(lst[:])

In [36]:
T4()

[0, 1, 0, 1, 0, 1, 0]
[0, 1, 0, 1, 0, 1, 0, 1]

In [44]:
def T5():
    x , y = 2, 4
    print('x ** y =',x**y)

In [45]:
T5()

x ** y = 16

In [77]:
def T6():
    def help(x):
        return x % 2 == 0

    lst = [i**2 for i in range(10)] 
    print(lst)
    lst = filter(help, lst) 
   # print(list(lst)[:]) #[0, 4, 16, 36, 64]
    print(list(lst)[::2])

In [78]:
T6()

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 16, 64]

In [82]:
print(int(False))
print(int(True))

0
1

In [101]:
def T7():
	z = 0
	for i in range(1, 10 ):
		if (i + 1 // 2) % 8 == 0:  # 1 // 2 is always zero, so if condition will meet with i =7
			break  # for loop 
		else:
			z += int(i % 2 == 0)
			print(z)
	else:
		print('end')  # in case of loop finished without goes to break for example for i in range(1, 6):

In [102]:
T7()

0
1
1
2
2
3
3

In [103]:
def T8():
	import math

	for i in range(1, 100):
		if math.sqrt(i) == (i - 5)**2:
			print(i)
			break
	else:
		print('no')

In [104]:
T8()

no

In [106]:
def T9():
	class A:
		def __init__(self, x):
			self.x = x

		def __eq__(self, o):
			return self.x == o.x

	a = A(2)
	b = A(2)
	print(a == b)
	print(a is b)
	print(b is a)
	print(a is a)
	print(a == a)

In [107]:
T9()

True
False
False
True
True

In [118]:
def T10():
	class A:
		def __init__(self, x, y):
			self.x = x
			self.y = y

		def print(self):
			print(self.x, self.y)

	class B(A):   # Class in inherted from A
		def print(self):
			print(self.y, self.x)

	class C(B):  # Class in inherted from B
		def __init__(self, x, y, z):
			super().__init__(x, y)
			self.z = z

	d = A(2, 4)
	e = B(4, 5)
	g = C(3, 4, 7)

	d.print()
	e.print()
	g.print()
	g.x = g.z
	g.print()

In [119]:
T10()

2 4
5 4
4 3
4 7

In [146]:
def T11():
	def x(z):
		def q(x, y):
			x = y + z + x
			print(x)

		return q

	for i in range(10):
		func = x(i)
#		func(1, -1)
		func(i, i)

In [147]:
T11()

0
3
6
9
12
15
18
21
24
27

In [150]:
def T12():
	def d(f):
		def w(*args, **kwargs):
			r = f(*args, **kwargs) 
			r += 1 
			return r 

		return w

	@d
	def a(x):
		return x + 1

	print(a(7))

In [151]:
T12()

9

In [154]:
print('a','b','c')
print(['a','b','c'])
print(*['a','b','c'])

a b c
['a', 'b', 'c']
a b c

In [158]:
def T13():
	print(*list(map(lambda x: chr(ord(x) + 1), ["a", "b", "c"])))
	print(list(map(lambda x: chr(ord(x) + 1), ["a", "b", "c"])))

In [159]:
T13()

b c d
['b', 'c', 'd']

In [160]:
def T14():
	x = 0.1
	y = 0.10000000000000001
	print(x == y)

In [161]:
T14()

True

In [169]:
def T15():
	x = [True, 1, "a", "b", "2"]
	F = ["", False, "", ""]
	print(any(x)) 
	print(any(F))

In [170]:
T15()

True
False

In [171]:
def T16():
	x = ["a", 1, 2, 3, 4]
	y = z = x
	z[1] = 7
	y[3] = 2
	x[2] = 9
	print(x)
	print(y)
	print(z)

In [172]:
T16()

['a', 7, 9, 2, 4]
['a', 7, 9, 2, 4]
['a', 7, 9, 2, 4]

In [173]:
def T16():
	print(1 == True)
	print("1" == 1)

In [174]:
T16()

True
False

In [175]:
def T17():
	x = b'1001'
	y = b'1010'
	z = x + y
	print(z)

def T18():
	x = 0b1001
	y = 0b1010
	z = x + y
	print(z)

In [176]:
T17()
T18()

b'10011010'
19

### Other Examples
https://treyhunner.com/2018/10/asterisks-in-python-what-they-are-and-how-to-use-them/
https://treyhunner.com/2018/04/keyword-arguments-in-python/

In [178]:
fruits = ['lemon', 'pear', 'watermelon', 'tomato']
print(fruits[0], fruits[1], fruits[2], fruits[3])
print(*fruits)
#That print(*fruits) line is passing all of the items in the fruits list into the print function call as separate arguments, without us even needing to know how many arguments are in the list.

lemon pear watermelon tomato
lemon pear watermelon tomato

In [179]:
fruits = ['lemon', 'pear', 'watermelon', 'tomato']
numbers = [2, 1, 3, 4, 7]
print(*numbers, *fruits)

2 1 3 4 7 lemon pear watermelon tomato

In [180]:
date_info = {'year': "2020", 'month': "01", 'day': "01"}
filename = "{year}-{month}-{day}.txt".format(**date_info)
filename
#The ** operator does something similar, but with keyword arguments. The ** operator allows us to take a dictionary of key-value pairs and unpack it into keyword arguments in a function call.

'2020-01-01.txt'

In [182]:
date_info = {'year': "2020", 'month': "01", 'day': "01"}
track_info = {'artist': "Beethoven", 'title': 'Symphony No 5'}
filename = "{year}-{month}-{day}-{artist}-{title}.txt".format(
     **date_info,
    **track_info,
 )
filename

'2020-01-01-Beethoven-Symphony No 5.txt'

In [183]:
#To accept keyword-only arguments, we can put named arguments after a * usage when defining our function:
def get_multiple(*keys, dictionary, default=None):
    return [
        dictionary.get(key, default)
        for key in keys
    ]

In [184]:
fruits = {'lemon': 'yellow', 'orange': 'orange', 'tomato': 'red'}
get_multiple('lemon', 'tomato', 'squash', dictionary=fruits, default='unknown')

['yellow', 'red', 'unknown']